<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Bobocode!</title>
</head>
<body align="center">
<p style="font-size: 64px; margin-top: 10%" th:text="${name != null} ? ${name} + ',' : '&nbsp;'"></p>
<p style="font-size: 64px; margin-top: 8%">Welcome to <b>Java Web Exercises</b></p>
<div>
    <img src="https://raw.githubusercontent.com/bobocode-projects/resources/master/image/bobo_logo.png"
         style="width: 30%"/>
</div>
<div style="position: relative">
    <p style="font-size: 12px; position: fixed; bottom: 0; width:100%; text-align: center">
        <i>* change the URL to <a
                href="http://localhost:8080/welcome?name=YourName">http://localhost:8080/welcome?name=YourName</a></i>
    </p>
</div>
</body>
</html>