/*color #61987e*/

.wrapper {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: solid 1px gray;
}

header h1 {
    display: block;
    font-size: 2em;
}

.show {
    display: flex;
    font-size: 1.5em;
    cursor: pointer;
}

.show img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.form_block {
    display: none;
    margin: 20px auto 0;
    width: 600px;
    padding: 30px;
    left: 25%;
    top: 25%;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

label {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

#title_input {
    border: 1px solid #61987e;
    border-radius: 6px;
    outline-color: #61987e;
}

.input_submit {
    margin-top: 20px;
    border-style: none;
    outline-color: transparent;
    border-radius: 6px;
    background-color: #61987e;
    color: #fff;
    width: 100px;
    height: 40px;
}

#text_label {
    margin-top: 20px;
}

textarea {
    resize: none;
    border-color: #61987e;
    border-radius: 6px;
    outline-color: #61987e;
}

.show:hover {
    font-size: 1.6em;
    transition: 0.5s;
}

.note {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.title_note {
    font-size: 1.5em;
    font-weight: 800;
}

.text_note {
    margin-top: 20px;
}

.date_note {
    margin-top: 20px;
}
